h1{
    color: #8ca6aa;
    font-family: Helvetica, sans-serif;
}

table{
        font-family: Helvetica, sans-serif;
        border-collapse: collapse;
        border-width: 1px;
        border-style: solid;
        border-color: #2695A6;
}

th{
        font-weight: 800;
        background-color: #2695A6;
        color: white;
        padding: 10px;
        padding-right: 30px;
}

td{
 text-align: center;
}